

/* Header container */
.header-container{
    background-color:#1D1616;
    height: 100px;
    display: flex;
    border-bottom: 3px solid white;
    
}
.title-container{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

}
.pfp{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.footer{
   text-align: center;
   background-color: #408A71;
   height: fit-content;
   margin-top: 10px;
}

.title-text{
    font-family: Arial, sans-serif;
    margin-left: 60px;
    margin-top: 5%;
    color: aliceblue;
    text-shadow: 2px 2px #fddada;

}
